body {
  user-select: none;
  font-family: monospace;
}

.panelArea {
  display: block;
  column-count: 2;
}

.panelArea.flex {
  display: flex;
  flex-wrap: wrap;
}

.panelOuter {
  border: 1px solid black;
  padding: 8px;
  margin: 4px;
  display: block;
  flex-grow: 1;
  overflow-wrap: anywhere;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.panelArea.cols .panelOuter {
  margin-top: 0px;
}

.panelOuter.wide {
  column-span: all;
  flex-basis: 100%;
}

.panelOuter.rowBreak {
  display: none;
}

.panelOuter.rowBreak {
  display: none;
  flex-basis: 100%;
}

.panelOuter.rowBreak.wide {
  display: block;
  height: 0;
  padding: 0;
  border: none;
}

.panelHead {
  display: flex;
}

.panelTitle {
  display: inline-block;
  padding: 0px 4px
}

.panel.minimized{
  display: none;
}

.nodeTable {
  border-spacing: 0px;
}

.nodeTable td {
  border: 1px solid white;
}

.nodeTable thead td:hover {
  background: beige;
}

.nodeTable thead td.dragging {
  color: grey;
  background: bisque;
}

.nodeTable thead td.dragover-left {
  border-left: 2px solid coral;
}

.nodeTable thead td.dragover-right {
  border-right: 2px solid coral;
}

.nodeTable.loading {
  cursor: progress !important;
}

.nodeTable.loading .nodeRow {
  cursor: progress !important;
}

.nodeRow {
  cursor: default;
}

.nodeRow.markedIgnored {
  color: fuchsia;
}

.nodeRow.markedDeleted {
  color: crimson;
}

.nodeRow.markedSaved {
  color: limegreen;
}

.alternate .nodeRow:nth-child(odd){
    /*color: cornflowerblue;*/
    color: #0059ff;
}
.alternate .nodeRow:nth-child(even){
    /*color: darkolivegreen;*/
    color: #547f0a;
}

.nodeRow:hover {
  background: antiquewhite;
}

.nodeRow.selectedRow {
  background: aquamarine;
}

.nodeRow.selectedRow:hover {
  cursor: context-menu;
  background: chartreuse;
}

.breadcrumb {
  display: inline-block;
  padding: 0px 5px;
}

.textNoBtn {
  display: inline-block;
}


.textBtn {
  cursor: default;
  display: inline-block;
  margin: 0px 2px;
}

.addPanel {
  display: block;
  min-height: 100px;
  margin: 4px;
  text-align: center;
  flex-basis: 100%;
}

.textBtn:hover {
  background: beige;
}

.textBtn.active {
  background: gold;
}

.textBtn.active:hover {
  background: goldenrod;
}

.iconBtn {
  cursor: default;
  display: inline-block;
  margin: 0px 1px;
  font-size: 18px;
  border-radius: 4px;
  color: darkgray;
}

.iconBtn.separator {
  border-left: 1px solid black;
  display: inline;
}

.iconBtn .mdi{
  padding: 0px 2px;
}

.iconBtn:hover {
  background: beige;
}

.iconBtn.active {
  background: lavender;
  color: black;
}

.iconBtn.active:hover {
  background: goldenrod;
}

.iconBtn.hideMenu {
  color:black;
  border: 1px solid black;
}

.hiddenMenu .iconBtn {
  display: none;
}

.hiddenMenu .iconBtn.hideMenu {
  display: inline-block;
}

.activeDup {
  color:blue;
}

.extCell:hover {
  background: coral;
}

.ctxMenu {
  position: absolute;
  cursor: default;
  background: white;
  border: 1px solid black;
  white-space: nowrap;
}

.ctxMenu > .item {
  padding: 10px;
}

.ctxMenu > .item.condensed {
  padding: 4px;
}

.ctxMenu > .selectable:hover{
  background: antiquewhite;
}

.ctxMenu > .divider {
  margin: 0px;
}

.hidden {
  display: none;
}

.panelFirstRightButton {
  margin-left: auto;
}

.noWrap {
  white-space: nowrap;
}