body {
  font-family: monospace;
}

.nodeTable {
  user-select: none;
  border-spacing: 0px;
}

.nodeTable td {
  border: 1px solid white;
}

.nodeTable.loading {
  cursor: progress !important;
}

.nodeTable.loading .nodeRow {
  cursor: progress !important;
}

.nodeRow {
  cursor: default;
}

.nodeRow:hover {
  background: antiquewhite;
}

.nodeRow.selectedRow {
  background: aquamarine;
}

.nodeRow.selectedRow:hover {
  cursor: context-menu;
  background: chartreuse;
}

.breadcrumb {
  display: inline-block;
  padding: 0px 5px;
}

.textNoBtn {
  display: inline-block;
}

.textBtn {
  cursor: default;
  display: inline-block;
  margin: 0px 5px;
}

.textBtn:hover {
  background: beige;
}

.textBtn.active {
  background: gold;
}

.textBtn.active:hover {
  background: goldenrod;
}

.textBtn.indicator:hover {
  background: none;
}

.textBtn.indicator.active {
  background: antiquewhite;
}

.activeDup {
  color:blue;
}

.extCell:hover {
  background: coral;
}

.ctxMenu {
  position: absolute;
  cursor: default;
  background: white;
  border: 1px solid black;
}

.ctxMenu > .item {
  padding: 10px;
}

.ctxMenu > .selectable:hover{
  background: antiquewhite;
}

.ctxMenu > .divider {
  margin: 0px;
}